.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-dark {
  background-color: rgba(17, 17, 17, 1);
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(79, 46, 232, 0.6);
  border-radius: 50%;
  border-left-color: rgba(79, 46, 232, 1);
  animation: loader 1.3s linear infinite;
}

.loader-dark {
  border: 10px solid rgba(234, 198, 69, 0.6);
  border-left-color: rgba(234, 198, 69, 1);
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}