:root{
    --font-primary: 'DM Sans', sans-serif;
    --text-color-primary: #111111;
    --text-color-secondary: rgba(17, 17, 17, 0.6);;
    --bg-color-light: #F6F6F6;
    --bg-color-dark: #202024;
    --bg-color-white: #ffffff;
    --bg-color-black: #111111;
    --color-accent: #4F2EE8;

}