.backdrop-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: visibility var(--animetion-transition),
    opacity var(--animetion-transition);
}
.overflow {
  overflow: hidden;
}
.modal-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  transform: translate(-50%, -50%);
  background-color: var(--color-for-body);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .modal-page {
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.backdrop-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  left: 527px;
  z-index: 2;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 28px;
  height: 28px;
  fill: var(--text-color-primary);
}
.modal-close-btn:hover, 
.modal-close-btn:focus{
  fill: var(--color-accent)
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .modal-close-btn {
    top: 12px;
    left: 335px;
    width: 24px;
  height: 24px;
  }
}

.cardBody {
  position: relative;
  width: 579px;
  height: 465px;
  background-color: var(--bg-color-white);
  border: 2px solid var(--text-color-primary);
  border-radius: 18px;
  padding: 40px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .cardBody {
    width: 335px;
    height: 762px;
    margin: auto;

  }
}

.darkmode--activated .cardBody {
  background-color: #202024;
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid #fff;
}

.close_btn {
  z-index: 25;
}
.darkmode--activated .close_btn {
  fill: #fff;
}

.cardBodiItem {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .cardBodiItem {
  flex-direction: column;
  }
}

.oneBookImg {
  margin-right: 24px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .oneBookImg {
  width: 287px;
  height: 408px;
  left: -18px;
  position: relative;
      margin-bottom: 14px;
  }
}

.cardTitle {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: -0.04em;
  color: var(--text-color-primary);
  margin-bottom: 8px;
}


@media screen and (min-width: 375px) and (max-width: 767px) {
  .cardTitle {
    font-size: 16px;
     margin-bottom: 4px;
  }
}

.darkmode--activated .cardTitle {
  color: #fff;
}

.cardAuthor {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.cardDescription {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--text-color-primary);
  margin-bottom: 20px;
}

.darkmode--activated .cardDescription {
  color: #fff;
}

.addShoppingList {
  background-color: transparent;
  display: block;
  margin: 0px auto;
  border: 2px solid var(--color-accent);
  border-radius: 40px;
  padding: 20px 100px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-color-primary);
  isolation: isolate;
}
.darkmode--activated .addShoppingList {
  color: #fff;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .addShoppingList  {
    padding: 14px 28px;
    font-size: 14px;
  }
}

.listMarkeplace {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 173px;
  height: 36px;
}

.imgMarketPlace {
  width: auto;
  height: 100%;
  display: block;
  border-radius: 0px;
  filter: grayscale(1);
}

.imgMarketPlace_amazon {
  width: 62px;
  height: 19px;
  display: block;
  border-radius: 0px;

  filter: grayscale(1);
}
.darkmode--activated .imgMarketPlace_amazon {
  filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(105deg)
    brightness(103%) contrast(102%);
}

.imgMarketPlace:hover,
.imgMarketPlace:focus {
  filter: grayscale(1) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.darkmode--activated .imgMarketPlace:hover,
.darkmode--activated .imgMarketPlace:focus {
  filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(105deg)
    brightness(103%) contrast(102%);
}
