@media screen and (min-width: 375px) and (max-width: 767px) {
  .containerMob {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.ulListCategories {
  width: 356px;
  height: 472px;
  margin-top: 40px;
  margin-bottom: 86px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .ulListCategories {
    width: 335px;
    height: 228px;
    margin-bottom: 40px;
  }
}

.itemsCategories {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition-property: color, letter-spacing;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: -0.02em;
  cursor: pointer;
  color: rgba(17, 17, 17, 0.6);
}

.itemsCategories:hover,
.itemsCategories:focus {
  font-weight: 700;
  letter-spacing: -0.02em;
  animation: uppercase 0.2s ease-in-out forwards;
  color: #4f2ee8;
}

@keyframes uppercase {
  from {
    text-transform: none;
  }
  to {
    text-transform: uppercase;
  }
}

.currentActiveLi {
  font-weight: 700;
  letter-spacing: -0.02em;
  animation: uppercase 0.2s ease-in-out forwards;
  color: #4f2ee8;
}

.ulListCategories::-webkit-scrollbar {
  width: 8px;
}

.ulListCategories::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.ulListCategories::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
}
