@media screen and (max-width: 768px) {
   aside{ 
    margin-top: 40px;
    display: flex;
   }
   .containerFlex{ 
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 32px;
   }
   .ulListCategories{
    width: 337px;
   }
   .fieldSupportUkraine{
    width: 335px;
   }
   .itemsBooksOfCategory{
    width: 100%;
    max-width: 768px;
   }
}
@media screen and (max-width: 450px) {
    .containerFlex{
        flex-wrap: wrap;
    }

    .containerForCategory{
        max-width: 450px;
    }

    .ulListCategories{
        margin-bottom: 40px;
        gap: 24px;
    }

    .itemsBooksOfCategory{
        flex-wrap: wrap;
        max-width: 100%;
        padding: 0 20px;
        li{
            width: 100%;
        }
    }

    .book_image{
        width: 100%;
        height: 485px;
    }
    
    .best-sellers{
        margin: 40px 0 40px 0;
        font-size: 32px;
    }
    .best-sellers-accent{
        font-size: 32px;
    }
    .see_more{ 
        margin-right: 20px;
    }
    #mainPage{
        padding: 0;
    }
}

