@media screen and (min-width: 768px) and (max-width: 1439px) {
  .fieldSupportUkraine {
    display: none;
  }
  #shoppingListContent {
    margin-top: 40px;
    width: 100%;
  }
  .shoppingListBox {
    width: 100%;
  }
  .ShoppingList {
    width: 100%;
  }
  .emptyPaga {
    padding-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .emptyText {
    width: 349px;
    text-align: center;
    margin: 0 auto;
  }
  .emptyImg {
    display: block;
    margin: 0 auto;
  }
}

/*@media screen and (max-width: 450px) {
.fieldSupportUkraine {
    display: none;
}

.mobile-menu {
    display: none;
}
.shoppingListBox{
    margin-top: 40px;
}
.emptyPaga{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shoppingListBox{
    width: 100%;
}

.container{
    max-width: 450px;
}

}
*/
