
@media screen and (max-width: 450px) {
.fieldSupportUkraine {
    display: none;
}
/*
.mobile-menu {
    display: none;
}*/

.emptyPaga{
    width: 100%;
}

.shoppingListBox{
    width: 100%;
}

.container{
    max-width: 450px;
}

}
