<header>
  <div class="container flexForHeader">
    <a href="./index.html" class="headerLogo">
      <svg class="logoIcon">
        <use href="/src/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
      <svg class="logoBookshelf">
        <use href="/src/icons/symbol-defs.svg#icon-Bookshelf"></use>
      </svg>
      <!-- <span class="logoText">Bookshelf</span> -->
    </a>

    <nav class="headerNav">
      <ul class="headerList">
        <li class="headerListItem">
          <a href="index.html" class="homeLink current"> home </a>
        </li>
        <li class="headerListItem">
          <a href="shopingList.html" class="shoppingList"
            >shopping list
            <svg class="cartHeader">
              <use href="/src/icons/symbol-defs.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <label class="switch">
      <input class="darkSwitch" type="checkbox" id="switchMode" />
      <span class="slider round"></span>
    </label>

    <button class="userButton">
      <span class="userSpan"> Sign Up</span>
      <svg class="arrowSignInHeader">
        <use href="/src/icons/symbol-defs.svg#icon-arrowSignIn"></use>
      </svg>
    </button>
  </div>
</header>
