<header>
  <div class="container">
    <div class="logo">
      <a href="./index.html" class="logoText">Bookshelf</a>
    </div>

    <nav class="headerNav">
      <ul>
        <li class="homeLink">HOME</li>
        <li class="shoppingList">SHOPPING LIST</li>
      </ul>
    </nav>

    <label class="switch">
      <input class="darkSwitch" type="checkbox" />
      <span class="slider round"></span>
    </label>
    <img class="imgAmazon" src="/src/images/Amazon_logo.svg" alt="" />

    <button class="userButton">
      <span class="userSpan"> Sign Up</span>
    </button>
  </div>
</header>
