<header class="header">
  <div class="container flexForHeader">
    <a href="./index.html" class="headerLogo">
      <svg class="logoIcon">
        <use href="/src/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
      <svg class="logoBookshelf">
        <use href="/src/icons/symbol-defs.svg#icon-Bookshelf"></use>
      </svg>
    </a>

    <nav class="headerNav">
      <ul class="headerList">
        <li class="headerListItem">
          <a href="index.html" class="homeLink"> home </a>
        </li>
        <li class="headerListItem">
          <a href="shopingList.html" class="shoppingList current"
            >shopping list
            <svg class="cartHeader cartHeader_current">
              <use href="/src/icons/symbol-defs.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="mobileWrap">
      <label class="switch">
        <input class="darkSwitch" type="checkbox" id="switchMode" />
        <span class="slider round"></span>
      </label>
<!-- burger -->
<button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
  <svg class="mobile-menu-open" width="32" height="22">
    <use href="/src/images/align-left.svg#align-left"></use>
  </svg>
</button>
<button class="menu-toggle js-close-menu">
  <svg class="modal-close-btn-icon" width="24" height="24">
    <use href="./images/x-close.svg#x-close"></use>
  </svg>
</button>
</div>

    <button class="userButton">
      <span class="userSpan"> Sign Up</span>
      <svg class="arrowSignInHeader">
        <use href="/src/icons/symbol-defs.svg#icon-arrowSignIn"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container mobile-menu__container mobile-menu__thumb">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="./index.html" class="nav__item--current mobile-menu__link ">HOME</a>
      </li>
      <li class="mobile-menu__item">
        <a href="./shopingList.html" class="mobile-menu__link">SHOPPING LIST
          <svg class="mobile-menu__icon" width="20" height="20">
            <use href="/src/icons/symbol-defs.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="burgerBtnWrap">
      <button class="burgerBtn">Log out <img class="arrowIcon" src="./images/arrow-burger.png" alt="" width="20"
          height="20"> </button>
    </div>
  </div>
  <img class="mobile-menu__img" src="/src/images/books.png" alt="books" />
</div>
</div>
